body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    width: 100%;
  }

header {
    color:white;
}

.sidebar {
    background-color: #edeeef;
    float: left;
    border-radius: 2%;
}

.sidebar-header {
    font-weight: bold;
    margin-top: 3px;
    font-size: 22px;

}

#searchCityBtn {
    background-color: #0275d8;
}

.forecast {
    max-height: 300px;
}

#currentCityName {
    font-weight: bold;
    font-size: 28px;
}

.five-title {
    font-size: 24px;
    font-weight:bold;
}

#currentUVVal {
    border-radius: 5%;
    color: white;
    font-weight: bold;
    padding: 10px;
    
}
 .currentForecast {
     display: none;
}

.displayFuture {
    display:none;
}

.future-card {
    height:auto;
    width: 150px;
    margin-right: 10px;
    border-radius: 5%;
}

#sideCityBtns {
    margin-top: 10px;
}
.sideCityBtn {
    width: 250px;
    border-radius: 5%;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}


